@keyframes linea-mobile {

    0% {
        background-size: 0% 2rem;
    }

    100% {
        background-size: 100% 2rem;
    }


}

@keyframes linea {

    0% {
        background-size: 0% 4rem;
    }

    100% {
        background-size: 100% 4rem;
    }


}