.boton-rojo {
    @include boton($rojo, inline-block);
}

.boton-rojo-block {
    @include boton($rojo, block);
    margin: 0 auto;
}

.boton-azul {
    @include boton($azul, inline-block);
}
.boton-azul-block {
    @include boton($azul, block);
}

