.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}

.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.rojo {

    color: $rojo !important;

}

.shadow {

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}