// MONTSERRAT FONT 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

// Fuentes
$fuente_principal: 'Inter', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$azul: #00009E;
$rojo: #C60C30;
$rojo-transparente: rgba(206, 0, 0, 0.65);
$blanco: #FFFFFF;
$crema: #FFF8F8;
$gris: #e5e5e5;
$grisalternativo: #D9D9D9;
$grisOscuro: #959596;
$grisOscuro-transparente: rgba(70, 67, 67, 0.70);

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;