@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';
@import 'base/utilidades';
@import 'base/botones';
@import 'base/animaciones';

/** UI **/
@import 'layout/redes';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/seccion-1';
@import 'layout/seccion-2';
@import 'layout/seccion-3';
@import 'layout/seccion-4';
@import 'layout/seccion-5';
@import 'layout/footer';
