@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';
@import 'base/utilidades';
@import 'base/botones';
@import 'base/animaciones';
@import 'base/scrollbar';

/** UI **/
@import 'layout/redes';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/seccion-1';
@import 'layout/seccion-2';
@import 'layout/seccion-3';
@import 'layout/seccion-4';
@import 'layout/seccion-5';
@import 'layout/comision_directiva';
@import 'layout/quienes_somos';
@import 'layout/integrante';
@import 'layout/red_profesionales';
@import 'layout/nuestra_historia';
@import 'layout/donar';
@import 'layout/footer';
