.comision {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 10rem 0;

    @include mobile{

        margin: 5rem 0;


    }

    &__container {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        width: 100%;
        max-width: 124rem;

        @include tablet {

            max-width: 70rem;

        }

        @include mobile {

            max-width: 35rem;

        }

        &__atras {

            align-self: flex-start;

            @include tablet {

                display: none;

            }

            a {

                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 2.4rem;
                font-weight: $semi-bold;

                span {
                    color: red;
                    font-size: 4rem;
                }

            }


        }

        &__texto {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;

            padding: 0rem 13rem;

            @include tablet {

                padding: 0rem 6rem;

            }

            @include mobile {

                padding: 0rem 2rem;

            }

            &__titulo {

                position: relative;
                font-size: 4rem;
                font-weight: $black;
                text-transform: uppercase;

                @include mobile {

                    font-size: 2.6rem;

                }

                &:before {

                    position: absolute;
                    bottom: -0.4rem;
                    left: -2rem;
                    right: -2rem;
                    height: 2.6rem;
                    content: "";
                    background-color: $rojo;
                    z-index: -1;


                    @include mobile {

                        bottom: 0rem;
                        left: -1rem;
                        right: -1rem;
                        height: 1.3rem;
                    }

                }

            }

            &__subtitulo {

                position: relative;
                font-size: 3.6rem;
                font-weight: $semi-bold;

                @include mobile {

                    font-size: 2.4rem;

                }

                &:before {

                    position: absolute;
                    bottom: -0.4rem;
                    right: -1rem;
                    width: 2.2rem;
                    height: 2.2rem;
                    content: "";
                    background-color: $rojo;
                    z-index: -1;

                    @include mobile {
                        right: -0.5rem;
                        width: 1.6rem;
                        height: 1.6rem;


                    }

                }

            }

            &__descripcion {

                font-size: 2.8rem;
                font-weight: $medium;
                text-align: center;

                @include mobile{

                    font-size: 2rem;

                }

                span {

                    font-weight: $black;

                }

            }

        }

        &__elementos {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6rem;

            width: 100%;
            margin-top: 10rem;
            margin-bottom: 30rem;

            @include mobile{
                margin-bottom: 10rem;
            }

            &__item-izq {

                position: relative;
                display: flex;

                background-color: $blanco;

                height: 50rem;
                padding: 3rem 6rem;

                @include tablet {

                    flex-direction: column;
                    height: auto;

                    padding: 4rem 0rem 2rem 0rem;

                }

                &:before {

                    position: absolute;
                    top: 14rem;
                    left: 7rem;
                    bottom: 3rem;
                    width: 6rem;
                    content: "";
                    background-color: $rojo;

                    @include tablet {
                        top: 3rem;
                        left: 11rem;
                        bottom: auto;
                        height: 25rem;
                    }

                    @include mobile {

                        width: 3rem;
                        left: 2rem;
                        height: 12rem;

                    }

                }

                &__foto {

                    position: relative;
                    align-self: flex-start;

                    width: 100%;
                    margin-left: 4rem;


                    @include tablet {
                        margin-left: 0;
                        overflow: hidden;
                        align-self: center;
                    }

                    @include mobile {

                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        width: 26.5rem;
                        height: 25rem;

                    }

                    img {

                        width: auto;
                        margin: 0 auto;

                        @include mobile {
                            width: 100%;
                        }

                    }

                }


                &__container {

                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @include tablet {

                        top: -4.5rem;

                    }

                    @include mobile {

                        top: -1.5rem;


                    }

                    &__s1 {

                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &__nombre {

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            font-size: 3.2rem;
                            font-weight: $bold;
                            color: $blanco;

                            width: 43rem;
                            height: 6.4rem;

                            background-color: $rojo;

                            @include tablet {

                                width: 50rem;
                                padding-left: 5rem;

                            }

                            @include mobile {

                                font-size: 1.6rem;
                                width: 25rem;
                                height: 2.7rem;
                                padding-left: 2rem;

                            }

                        }

                        &__redes {

                            display: flex;
                            align-items: center;
                            justify-items: flex-end;
                            gap: 4rem;

                            @include tablet {

                                position: absolute;
                                top: 7rem;
                                right: 3rem;

                            }

                            @include mobile{
                                justify-content: center;

                                top: 8rem;
                                left: 0;
                                right: 0;

                            }

                            a {
                                display: flex;
                                align-items: center;
                                width: 4rem;
                                fill: #545454;

                                &:hover {

                                    fill: $rojo;

                                }
                            }
                        }

                    }

                }

                &__cargo {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-start;

                    font-size: 2.4rem;
                    font-weight: $semi-bold;
                    color: $blanco;
                    background-color: #545454;

                    width: 30rem;
                    height: 5.7rem;

                    // padding-left: 5rem;

                    @include tablet {

                        width: 40rem;
                        padding-left: 5rem;

                    }

                    @include mobile {

                        font-size: 1.2rem;
                        width: 20rem;
                        height: 3.2rem;
                        padding-left: 4rem;

                    }

                }

                &__descripcion {

                    font-size: 2rem;
                    padding: 4rem 3rem;

                    @include mobile {

                        font-size: 1.4rem;
                        padding: 8rem 3rem;
                        padding-bottom: 3rem;
                    }

                }

                &__boton {
                    font-size: 1.8rem;
                    padding: 1rem 4rem;
                    
                    @include mobile {

                        font-size: 1.4rem;

                    }
                }

            }

            &__item-der {

                position: relative;
                display: flex;
                flex-direction: row-reverse;

                background-color: $blanco;

                height: 50rem;
                padding: 3rem 6rem;

                @include tablet {

                    flex-direction: column;
                    height: auto;

                    padding: 4rem 0rem 2rem 0rem;

                }

                &:before {

                    position: absolute;
                    top: 14rem;
                    right: 7rem;
                    bottom: 3rem;
                    width: 6rem;
                    content: "";
                    background-color: $rojo;

                    @include tablet {
                        top: 3rem;
                        left: 11rem;
                        bottom: auto;
                        height: 25rem;
                    }

                    @include mobile {

                        width: 3rem;
                        left: 2rem;
                        height: 12rem;

                    }

                }

                &__foto {

                    position: relative;
                    align-self: flex-start;

                    width: 100%;
                    margin-right: 4rem;


                    @include tablet {
                        margin-right: 0;
                        overflow: hidden;
                        align-self: center;
                    }

                    @include mobile {

                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        width: 26.5rem;
                        height: 25rem;

                    }

                    img {

                        width: auto;
                        margin: 0 auto;

                        @include mobile {

                            width: 100%;

                        }

                    }

                }


                &__container {

                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @include tablet {

                        top: -4.5rem;

                    }

                    &__s1 {

                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &__nombre {

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            font-size: 3.2rem;
                            font-weight: $bold;
                            color: $blanco;

                            width: 43rem;
                            height: 6.4rem;

                            background-color: $rojo;

                            @include tablet {

                                width: 50rem;
                                padding-left: 5rem;

                            }


                            @include mobile {

                                font-size: 1.6rem;
                                width: 25rem;
                                height: 2.7rem;
                                padding-left: 2rem;

                            }


                        }

                        &__redes {

                            display: flex;
                            align-items: center;
                            justify-items: flex-end;
                            gap: 4rem;

                            @include tablet {

                                position: absolute;
                                top: 7rem;
                                right: 3rem;

                            }
                            @include mobile{
                                justify-content: center;

                                top: 8rem;
                                left: 0;
                                right: 0;

                            }

                            a {
                                display: flex;
                                align-items: center;
                                width: 4rem;
                                fill: #545454;

                                &:hover {

                                    fill: $rojo;

                                }

                            }
                        }

                    }

                }

                &__cargo {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-end;

                    font-size: 2.4rem;
                    font-weight: $semi-bold;
                    color: $blanco;
                    background-color: #545454;

                    width: 30rem;
                    height: 5.7rem;

                    // padding-right: 5rem;

                    @include tablet {

                        align-self: flex-start;
                        width: 40rem;
                        padding-left: 5rem;

                    }

                    @include mobile {

                        font-size: 1.2rem;
                        width: 20rem;
                        height: 3.2rem;
                        padding-left: 4rem;

                    }
                }

                &__descripcion {

                    font-size: 2rem;
                    padding: 4rem 3rem;

                    @include mobile {

                        font-size: 1.4rem;
                        padding: 8rem 3rem;
                        padding-bottom: 3rem;
                    }

                }

                &__boton {
                    font-size: 1.8rem;
                    padding: 1rem 4rem;

                    @include mobile {

                        font-size: 1.4rem;

                    }
                }

            }

        }

    }

}