.footer {

    position: relative;

    width: 100vw;
    height: 27.3rem;

    margin-top: 10rem;

    @include tablet {

        height: 65rem;

    }

    @include mobile {

        height: 83.4rem;

    }

    &__container {

        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        align-items: stretch;
        gap: 2rem;

        padding: 5rem 2rem;

        width: 100%;
        max-width: 128rem;
        height: 100%;

        margin: 0 auto;

        @include tablet {

            grid-template-columns: repeat(2, 1fr);
            align-items: flex-start;
            padding: 5rem 10rem;


        }

        @include mobile {

            grid-template-columns: repeat(1, 1fr);
            padding: 5rem;

        }

        &> :nth-child(1) {

            align-items: center;
            justify-content: space-evenly;
            // gap: 2.5rem;

            align-self: center;

            text-align: center;
            padding-top: 0rem;

            height: 100%;

            @include tablet {
                justify-content: flex-start;
                gap: 3rem;

            }

            a {

                position: relative;

                font-size: 4.8rem;
                text-shadow: -2px -2px 0 $blanco, 2px -2px 0 $blanco, -2px 2px 0 $blanco, 2px 2px 0 $blanco;
                color: $negro;
                font-weight: $black;

                &:before {

                    position: absolute;
                    left: -1rem;
                    right: -1rem;
                    bottom: -.5rem;
                    height: 3rem;
                    content: "";
                    background-color: $rojo;
                    z-index: -1;

                    @include tablet {
                        bottom: -.8rem;
                        // left: -4rem;
                        // right: 3rem;
                    }

                    @include mobile {
                        bottom: -1rem;

                        // left: -3.5rem;
                        // right: 2.5rem;
                        // bottom: 0;

                    }

                }


            }

            p {

                width: 19rem;

            }

        }

        & :nth-child(2) {
            @include mobile {
                justify-self: flex-start;
            }
        }

        & :nth-child(3) {
            @include mobile {
                justify-self: flex-start;
            }
        }

        & :nth-child(4) {

            img {

                width: 3rem;

            }

        }

        & :nth-child(5) {

            flex-direction: row;
            gap: 3rem;

            align-self: center;
            padding-top: 0rem;

            @include tablet {
                grid-column: 1/3;
                gap: 6rem;
            }

            @include mobile {
                grid-column: auto;
            }

            a {

                width: 4.4rem;
                fill: $blanco;

                @include tablet {
                    width: 6.5rem;
                }

                @include mobile {
                    width: 4.4rem;
                }

                & :hover {

                    fill: $gris;


                }

            }

        }

        &>img {

            position: absolute;

            top: -10rem;
            left: 4rem;

            width: 10.6rem;
            height: 13.6rem;

        }
    }

    &__background {

        position: absolute;

        width: 100%;
        height: 100%;

        bottom: 0;

        background-image: url('../images/footer_background.png');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        background-attachment: scroll;

        z-index: -1;



    }

    &__item {

        display: flex;
        flex-direction: column;
        gap: 1rem;

        font-weight: $bold;
        color: $blanco;

        padding-top: 2rem;

        a {

            display: flex;
            align-items: center;
            gap: 1rem;

            font-size: 1.6rem;
            font-weight: $medium;
            color: $blanco;

            & :hover {

                color: $gris;


            }


        }

    }

}