.header{
    
    position: sticky;
    background-color: $blanco;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 120px;
    
    top: 0px;
    z-index: 10;
    
    @include desktop {
        padding: 2rem 5rem;
    }


    & .container-logo{

        width: 24rem;
        align-self: center;
        
    }

    &__container-menu{

        display: none;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        
        @include desktop {
            display: flex;
            flex-direction: row;

            margin-top: 4rem;
        }

    }

    &__link{

        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: $bold;
        gap: .4rem;

        & span{

            transform: rotate(90deg);
            font-size: 1.6rem;

        }
        
    }

    &__boton{

        display: block;
        font-size: 5rem;

        @include desktop {
            display: none;
        }
    }

}
.btn-donar{

    position: absolute;
    top: 0px;
    right: 5rem;

}
