.hero {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;

    height: calc(100vh - 12rem);
    
    color: $blanco;
    
    @include desktop {
        // padding: 5% 10%;
        padding: 0;
        height: 84rem;
        justify-content: center;
        gap: 7rem;
    }

    & .background-img {

        position: absolute;
        background-image: url('/assets/images/todesarda.png');
        background-size: cover;
        background-position: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        filter: brightness(20%) saturate(0%);

    }

    &__container{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6rem;

        padding: 0rem 13rem;

        width: 100%;
        max-width: 1280px;
        height: 100%;


    }

    &__titulo {

        font-size: 4rem;
        font-weight: $bold;
        line-height: initial;

        @include tablet {
            font-size: 7.2rem;
        }

        @include desktop {
            font-size: 6.4rem;
            width: 100%;
        }

        & span {

            position: relative;

            background-image: linear-gradient($rojo-transparente, $rojo-transparente);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 100% 3rem;

            animation-name: linea-mobile;
            animation-duration: 3s;
            // animation-delay: 1s;
            animation-iteration-count: 1;

            @include tablet {
                animation-name: linea;
                background-size: 100% 3rem;
            }

        }


    }

    &__subtitulo {

        font-size: 2.6rem;
        text-align: center;
        margin: 0;
        margin-bottom: 3rem;
        
        @include tablet {
            font-size: 4.2rem;
        }
        @include desktop {
            font-size: 2.8rem;
            margin-bottom: 0;
        }


    }

    &__btn {

        font-size: 2.4rem;

        @include desktop {
            font-size: 2.2rem;
        }

    }

}

