.redes {

    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    right: 0;
    top: 26rem;

    padding: 2rem;

    background-color: $grisOscuro-transparente;
    border-radius: 0.8rem 0 0 0.8rem;

    z-index: 100;

    a {

        width: 3rem;
        fill: $blanco;

        & :hover{

            fill: $gris;


        }

    }

}