.seccion-1 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 90rem;

    text-align: center;

    @include mobile {
        height: calc(100vh - 12rem);
    }

    &__container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6rem;

        padding: 0rem 23.4rem;
        max-width: 128rem;

        @include tablet {

            padding: 0rem 12rem;

        }

        @include mobile {

            padding: 0rem 4rem;

        }

    }

    &__titulo {

        font-size: 6.4rem;
        font-weight: $black;
        position: relative;
        overflow: visible;

        @include tablet {
            font-size: 6rem;
        }

        @include mobile {
            font-size: 4.2rem;
        }

        & span {

            position: relative;

        }

        & span:before {

            position: absolute;
            bottom: 0;
            left: -2rem;
            right: -2rem;
            height: 3rem;
            content: "";
            background-color: $rojo;
            z-index: -1;

            @include tablet {
                height: 2rem;
                bottom: .7rem;
            }

            @include mobile {

                left: -3.5rem;
                right: 2.5rem;


            }

        }

    }

    &__subtitulo {

        font-size: 3.6rem;
        font-weight: $semi-bold;

        @include tablet {
            font-size: 2.8rem;
        }

        @include mobile {
            font-size: 2.2rem;
            margin: 0rem 1rem
        }

        & span {

            position: relative;

        }

        & span:before {

            position: absolute;
            bottom: 0rem;
            width: 3rem;
            right: -2rem;
            height: 2rem;
            content: "";
            background-color: $rojo;
            z-index: -1;


            @include tablet {
                bottom: -.5rem;
            }

            @include mobile {
                bottom: -.7rem;
                right: -2.2rem;
            }

        }

    }

    &__descripcion {

        font-size: 2.8rem;
        font-weight: $medium;

        @include tablet {
            font-size: 2.4rem;
        }

        @include mobile {
            font-size: 1.6rem;
        }

    }


    &__btn {

        @include mobile {

            font-size: 1.8rem;

        }
    }


}