.seccion-1 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: calc(100vh - 12rem);

    padding: 5rem;

    text-align: center;

    @include tablet {


        padding: 10rem;

    }

    @include desktop {
        padding: 5% 15%;
        height: 105.8rem;
        gap: 7.6rem;
    }

    &__titulo {

        font-size: 6rem;
        font-weight: $black;
        position: relative;
        overflow: visible;

        @include tablet {

            font-size: 8.4rem;

        }
        @include desktop {
            font-size: 7.2rem;
        }

        & span {

            position: relative;

        }

        & span:before {

            position: absolute;
            bottom: 0;
            left: -3.5rem;
            right: 2.5rem;
            height: 3rem;
            content: "";
            background-color: $rojo;
            z-index: -1;

            @include tablet {
                left: -4rem;
                right: 3rem;
            }

            @include desktop{

                left: -5rem;
                right: 4rem;


            }

        }

    }

    &__subtitulo {

        font-size: 2.2rem;
        font-weight: $semi-bold;

        @include tablet {

            font-size: 3.6rem;

        }

        @include desktop {
            font-size: 6.4rem;
            width: 84.2rem;
        }

        & span {

            position: relative;

        }

        & span:before {

            position: absolute;
            bottom: 1rem;
            width: 3rem;
            right: -2rem;
            height: 2rem;
            content: "";
            background-color: $rojo;
            z-index: -1;

            // @include tablet {
            //     left: -4rem;
            //     right: 3rem;
            // }

        }

    }

    &__descripcion {

        font-size: 1.8rem;
        font-weight: $medium;

        @include tablet {

            font-size: 2.4rem;

        }

        @include desktop {
            font-size: 3.6rem;
            width: 114.4rem;
        }



    }

    &__btn {

        @include tablet {
            font-size: 2.4rem;
        }

        @include desktop {
            font-size: 3.2rem;
            font-weight: $semi-bold;
            padding: 2rem 4rem;
        }

    }

}