.red {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    width: 100%;
    max-width: 128rem;

    padding: 0rem 3rem;
    margin: 8rem auto;
    text-align: center;

    @include tablet {
        height: auto;
    }

    &__container {

        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 6rem;


        width: 100%;

        @include tablet {

            flex-direction: column;

            gap: 4rem;
            padding: 4rem 8rem;

        }

        @include mobile {

            padding: 0;

        }

    }

    &__texto {

        display: flex;
        flex-direction: column;
        gap: 5rem;

        width: 53rem;

        @include mobile{

            width: auto;

        }

        &__titulo {

            position: relative;
            align-self: flex-end;

            font-size: 4.8rem;
            font-weight: $black;
            text-transform: uppercase;
            text-align: start;
            color: $negro;

            width: 42rem;
            margin-bottom: 3rem;
            overflow: visible;
            z-index: 2;

            @include tablet {

                font-size: 3.8rem;

            }

            @include mobile {
                font-size: 3.2rem;
                width: auto;
            }

            span {

                font-size: 4rem;

                @include tablet {

                    font-size: 3.2rem;

                }

                @include mobile {
                    font-size: 2.4rem;
                }

                &:before {

                    position: absolute;
                    left: -1rem;
                    top: 3.5rem;

                    width: 10rem;
                    height: 2.5rem;
                    content: "";
                    background-color: $rojo;
                    z-index: -1;

                    @include tablet {
                        top: 3rem;
                        width: 8rem;
                        left: -.5rem;
                        height: 2rem;
                    }

                    @include mobile {
                        top: 2.5rem;
                        width: 6rem;
                        left: 0rem;
                    }

                }
            }

            &:before {

                position: absolute;
                bottom: -.5rem;
                right: -1rem;

                width: 12rem;
                height: 2.5rem;
                content: "";
                background-color: $rojo;
                z-index: -1;

                @include tablet {
                    right: 5rem;
                    bottom: -.5rem;
                    height: 2rem;
                }

                @include mobile {
                    right: 1rem;
                }

            }

        }

        &__descripcion {

            font-size: 2.8rem;
            font-weight: $medium;

            @include tablet {
                font-size: 2.4rem;
            }

            @include mobile {
                font-size: 1.8rem;
            }

        }

    }

    &__datos {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 14rem;

        margin-top: 4rem;

        @include tablet {

            flex-direction: column;
            gap: 6rem;

        }

        &__contactos {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8rem;

            @include tablet {
                gap: 4rem;
            }

            &__item {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2.8rem;

                @include tablet {
                    gap: 2rem;
                }

                img {

                    width: 5rem;

                    @include tablet {
                        width: 4rem;
                    }

                }

                p {

                    font-size: 2.8rem;
                    font-weight: $semi-bold;
                    margin-top: 1rem;

                    @include tablet {

                        font-size: 2.4rem;

                    }

                }

            }

            & :last-child {

                width: 100%;

                flex-direction: row;
                gap: 6rem;

                @include tablet {

                    justify-content: space-between;

                }

                @include mobile {
                    gap: 0;
                }

                a {

                    width: 8rem;
                    fill: $rojo;

                    @include tablet {
                        width: 6rem;
                    }

                }

            }


        }

        &__formulario {

            display: flex;
            flex-direction: column;
            gap: 3rem;

            padding: 4.5rem;
            width: 55rem;

            background-color: $blanco;

            @include mobile {

                width: 100%;
                padding: 2rem;

            }

            &__item {

                display: flex;
                flex-direction: column;
                align-items: flex-start;

                font-size: 1.8rem;
                font-weight: $semi-bold;


                label {
                    margin-bottom: .5rem;
                }

                input {

                    width: 100%;
                    height: 4rem;
                    border-radius: 0.5rem;
                    border: 1px solid $grisOscuro;
                    padding: 0 1rem;
                    font-size: 2.4rem;
                    font-weight: $semi-bold;

                }

                textarea {

                    width: 100%;
                    height: 20rem;
                    border-radius: 0.5rem;
                    border: 1px solid $grisOscuro;
                    padding: 1rem;
                    font-size: 2.4rem;
                    font-weight: $semi-bold;
                    resize: none;


                }

            }

        }

    }


    &__btn {

        @include tablet {

            font-size: 1.8rem;

        }
    }

}